html {
  height: 100%;
  width: 100%;
}

body{
  font-family:'Edu TAS Beginner', Arial, sans-serif;
  font-size: large;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  margin: 20px;
}